.brand {
    background: url(img/b.png);
    background-size: cover;
    background-color: currentcolor;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #1b1e22;
}

.places-tittle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}

.block-info{
    display: flex;
    justify-content: space-between;
}
.namecity{
    display: flex;
    justify-content: space-between;
}
.info-label{
    display: contents;
}
.about{
    display: flex;
    justify-content: space-around; 
}