@import "scss/root";
body, html
    font-family: 'Quicksand', sans-serif
    height: 100%
    margin: 0
    padding: 0
     

.site-container
    height: 100%
    margin: 0 auto
    display: flex
    flex-direction: column

header
    position: fixed
    display: i
    width: 100%
    z-index: 1000

main
    flex-grow: 1

footer
    text-align: center

